{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} 常見病症飲食宜忌 {% endblock %}</h1>
<p>無論是患有急性病或是慢性病時，飲食宜忌問題比起常人來就顯得更為重要，民間老百姓也多極為重視。急性病患者，如若不注意飲食宜忌,則往往會延長病程，甚至會加重病情。比如急性支氣管炎咳嗽，症屬風寒外束，肺氣失宣時，理當宜吃辛散風寒,宣肺化痰的生薑、蘇葉、蘿蔔湯之類，忌吃寒涼生冷油膩之品，如柿子或柿餅、梨子、枇杷、香蕉等。若食之，則寒邪不得宣散,反使咳嗽加劇，纏綿不已。慢性病患者，飲食不加宜忌，隨意亂吃亂飲,同樣會使疾病遷延，或舊病復發。如慢性皮膚濕疹之人,本屬濕熱內蘊，日久不愈，只宜常年服食清淡滲利食物,忌吃各類發物以及辛辣葷腥、滋膩黏糯之品。宜忌不分，或終生難愈，或愈而復發。這些都是極為常見的事實。患病期間，人體有陰陽偏盛,病邪有寒熱之分，體質有虛實之異。食物猶如藥物，食性有寒、熱、溫、涼、平,食味有辛、酸、甘、苦、鹹。飲食適宜則於病有益，促使痊癒;飲食失宜,猶如藥不對症,輕者使病情反復,重者使疾病惡化。飲食宜忌，不可不慎！
</p>
<p>
    常見病症的飲食宜忌,是以中國傳統醫學理論為指導，充分體現了中醫辨證論治的特點，分清病情,了解食性, 辨證擇食。在所列
    60餘種常見病症的飲食宜忌時，簡述這些常見病症的基本症型分類的要點,又指出了總體宜忌原則,這樣就可使讀者明白了“辨證擇食”的道理，掌握了“飲食宜忌”的要領。【P290】

</p>
{% for illness in common_illness_list %}
<a href="{{ url_for('food.illness_details', illness_id=illness['id']) }}">
    <h2>{{ illness['name'] }}</h2>
</a>

{% endfor %}
{% endblock %}