{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} 體質虛弱飲食宜忌 {% endblock %}</h1>
<p>體質虛弱是日常生活中的普遍現象，其原因或是先天不足,或是後天失養,或是在大病之後，出現各種各樣的虛衰羸弱徵象。根據各自體質虛弱的不同表現,中國傳統醫學通常分別歸納為氣虛、血虛、陰虛、陽虛、心虛、肝虛、脾虛、肺虛和腎虛等類型。凡體質虛弱者，在飲食宜忌方面,有著重要的直接的影響。食之得當，常吃多吃些宜食物品,這對體虛的恢復就有積極意義和滿意效果;食之不當,經常吃些不該吃或忌食之物,非但與身體無補，也許還會犯“虛虛”之戒,使體弱者更弱。</p>
<p>古人云“虛者補之”，說起來簡單，凡體質虛弱者，在飲食上宜吃滋養強壯、補虛扶正之品，忌吃破氣耗血、損陰傷陽之物。事實上,氣與血，陰與陽又不可截然分開,補氣與補血雖各有側重，但亦不宜絕對區分。金元醫家李東垣說：“血不自生,須得生陽氣之藥，血自旺矣。血虛以人參補之，陽旺則能生陰血。” 眾人皆知，人參是補氣的,而且虛者補血，有時應結合補氣之法，血弱而兼氣虛者,補血時必佐以補氣之味。補陰與補陽也是如此，因為陰陽是相濟與互用的。明•張景岳說：“善補陽者,必於陰中求陽;善補陰者，必於陽中求陰。” 當陽虛而陰不虛者,飲食上應以溫補陽虛食物為主,宜食以甘溫之物，忌吃生冷性寒之品;陰虛而火旺者，飲食上應以滋補陰虛食物為要，宜食以甘涼之味,忌吃辛辣溫燥食物;如其陰陽兩虛，又當陰陽雙補。</p>
<p>對於某一臟腑的虛弱而進食補益，《難經》中曾說：“損其肺者，益其氣;損其心者，和其營衛;損其脾者，調其飲食，適其寒溫;【P890】損其肝者,緩其中;損其腎者，益其精。 ” 這裡指出了補益五臟虛損的總體原則。中醫歷來就有“虛則補其母”的說法，如肺氣虛者補脾，是培土生金法;脾虛者補命門,是補火生土法;腎虛者補肺，是金水相生法等。在補益五臟之法中，歷代醫家還強調補脾與補腎的重要性。這是因為脾為後天之本，五臟受氣於脾胃，所謂精、氣、血者，皆由後天谷氣所生;又因為腎屬先天之本，是真陰真陽的寄託，氣血之母，人生立命之本。故在五臟之補中，以補脾和補腎為要。由於心主血，肝藏血，心虛多表現為心氣虛與心血虛,肝虛多為肝血不足,故心虛和肝虛可參閱氣虛、血虛、心悸、失眠、夜盲等飲食宜忌篇的內容，不再重複介紹。
</p>
{% for deficiency in deficiency_list %}
<a href="{{ url_for('food.deficiency_details', deficiency_id=deficiency['id']) }}">
    <h2>{{ deficiency['name'] }}</h2>
</a>

{% endfor %}
{% endblock %}