{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 飲食宜忌-緒論 {% endblock %}</h1>
    <p>中國人的傳統飲食宜忌觀，是通過幾千年來人民大眾經歷了無數次的親身生活實踐和歷代醫家長期的醫療臨床實踐逐漸總結發展而形成的，它積累了許許多多醫藥學家、養生學家、儒家、道家、佛家以及廣大民眾的寶貴經驗，尤其是歷史上的醫學家們根據中國傳統醫學理論，把這些飲食宜忌的豐富經驗不斷上升到食醫理論的高度來認識和完善。可以說,中國醫學理論是中國傳統飲食宜忌理論的基礎，其中包含了“食藥同源”之說、食物性味歸經理論、飲食宜忌的辨證觀、以及民間“發物”忌口等內容。如果能了解或熟知這些基礎理論，就能掌握好飲食宜忌的總體原則和對飲食宜忌的靈活運用。</p>
    <p>重點聲明：
        本資料內容抄自於【中国传统饮食宜忌全书】
        飲食宜忌全書出自於《王焕华、倪慧珠編著》
        參考本資料內容的同時，請先購買原著作；
        《王焕华、倪慧珠編著》的
        【中国传统饮食宜忌全书】（ 修订本）
        由「江苏科学技术出版社」出版的“原著作”。
               本資料內容是以繁體中文為主，方便繁體中文的使用者，參考對照“原著作”。
               本抄錄內容是以（奶蛋素食者）的需求為出發點，因此，“原著作”的內容，非（奶蛋素食者）適宜的部分，一概不予抄錄。
               本資料內容是以配合對照“原著作”的參考使用，請勿作為“商業用途”。
               本資料內容僅供參考，不用於診斷、治療、治愈或預防任何病症或疾病。您了解本資料內容不能替代諮詢有執照的從業者。請就本資料內容中提出的建議，諮詢您自己的醫生或醫療保健專家。
           使用本資料內容即表示您接受本免責聲明。</p>
{% endblock %}