{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} 緒論 {% endblock %}</h1>
<h2>“食藥同源”之說</h2>
<p>在上古時代,食物與藥物是分不開的。當時人們處於一種以覓食為生的最原始的生活方式,人們在尋找食物的過程中,也發現了一些藥物。不僅如此,他們也認識到許多食物既可以食用,還可以作為藥用,這類食物不但能補養身體,填腹充飢,還能醫治一些簡單的病症。也有一些能治病的中藥,同時具有食養作用,至今仍被視為藥食兼用之品。這些完全可以從中國最早的中藥學專著《神農本草經》中得出結論。成書於東漢的《神農本草經》記載：“上品
    120 種為君,主養命以應天,無毒,多服久服不傷人,欲輕身益氣不老延年者,本上經。中品125種為臣,主養性以應人,無毒有毒,斟酌其宜,欲遏病補虛贏者,本中經。下品125 種為佐使,主治病以應地,多毒不可久服,欲除寒熱邪氣,破積聚
    愈積者,本下經。 ”在上品之中,就有大棗、葡萄、酸棗、瓜子等22 種食品。中品內有乾薑、海藻、赤小豆、龍眼肉、粟米、等
    19種常食之物。下品中也有9種可食物品。由此不難看出,在上古時期,食物與藥物之間有時很難嚴格區分。這就是“食藥同源”的緣故。所以,從廣義的角度來說,食物也是藥物,它不僅與藥物一樣,來源於大自然,同時很多食物也具有四氣五味的特性,也能治療疾病。直到今天,仍有很多食物被醫家當作中藥來廣泛使用,如大棗、百合、蓮子、芡實、山藥、白扁豆、茯苓、山楂、桑椹、生薑
    、肉桂等同樣,也有不少中藥,人們也常當作食品來服用,如枸杞子、首烏粉、薏仁米、金銀花、西洋參等。也正因為如此,台灣衛生主管部門還根據民眾習俗,特地將人們經常食用的45 味中藥列為食品管理範疇。
</p>
<p>正是由於食物也是藥物,藥物也作食用,食物也有性味歸經之分,有著良好的食養食療的效果,所以,古代醫家也常把食物的功用主治與藥物等同起來,甚至一味食物當作一首名方來看待。例如, 如清代醫家張璐在《本經逢原》中說：“西瓜能解太陽
    、陽明中暍及熱病大渴,故有天生白虎湯之稱。這是將一味西瓜比作清熱名方
    “白虎湯”。清代名醫王孟英曾說：“甘蔗,榨漿名為天生復脈湯。”這又是將一味甘蕉汁的功用比作益氣滋陰的名方“復脈湯”。梨子甘寒生津,潤燥止渴,《隨息居飲食譜》云：“絞汁服,名天生甘露飲。”明白了“食藥同源”的道理,就可以使人們加深對食性的進一步理解,對中國人的傳統飲食宜忌觀有了深一層次的認識。
</p>
<h2>飲食物的四氣理論</h2>
<p>中藥有四氣五味及歸經之說，食物也是藥物，當然食物也有寒熱溫涼、辛甘酸苦鹹以及食物歸經的理論。熟知飲食物性味歸經理論 這對掌握和運用好飲食宜忌問題，有著重要意義。
</p>
<p>所謂四氣，又稱四性，即寒性、涼性、溫性和熱性，連同不寒不熱的平性，有人稱為五性。了解食物的四性,就能很好地指導人們的飲食宜忌。中醫認為,能夠治療熱症的藥物,大多屬於寒性或涼性;能夠治療寒症的藥物,大多是溫性或熱性。
    《神農本草經》云：“療寒以熱藥,療熱以寒藥。”《素問•至真要大論》云：“寒者熱之,熱者寒之。”同樣的道理，凡熱性或溫性的飲食物,適宜寒症或陽氣不足之人服食；凡屬寒性或涼性食品，只適宜熱症或陽氣旺盛者食用。或者說，寒症病人或陽氣不足者,忌吃寒涼性食品;熱症患者或陰虛之人，忌吃溫熱性食物。寒與涼,溫與熱,是區別其程度的差異,溫次於熱,涼次於寒。溫熱性的飲食物多具有溫補散寒壯陽的作用，寒涼性食品一般具有清熱瀉火、滋陰生津的功效。平性食品是指性質比較平和的飲食物。
</p>
<p>不懂得食物之性，就很難明白飲食宜忌的道理。清代醫學家黃宮綉說得好：“食物雖為養人之具,然亦於人臟腑有宜、不宜。食物入口,等於藥之治病同為一理,合則於人臓腑有宜,而可卻病衛生；不合則於人臟腑有損，而即增病促死。”凡寒性或涼性食品，如綠豆、芹菜、菊花腦、馬蘭頭、枸杞頭、柿子、梨子、香蕉、
    冬瓜、絲瓜、西瓜、金銀花、胖大海等,都具有清熱、生津 、解暑 、止渴的作用，對熱性病症或者陽氣旺盛、內火偏重者為宜。反之,對虛寒體質，陽氣不足之人則忌食。同樣的道理，食品中的辣椒、生薑、茴香、砂仁
    、肉桂、紅參等熱性或溫性食物，多有溫中、散寒、補陽、暖胃等功效,對陽虛怕冷,虛寒病症，食之為宜熱性病及陰虛火旺者忌食之。</p>
<p>此外，食性還要與四時氣候相適應，《素問•六元正紀大論》云：“用涼遠涼，用寒遠寒,用溫遠溫，用熱遠熱，食宜同法，此其道也。”這就是說，寒涼季節要少吃些寒涼性食品，炎熱季節要少吃些溫熱性食物,飲食宜忌要隨四季氣溫而變化。這又是中醫學的“天人相應”
    觀。</p>
<p>總而言之，食性猶如藥性,飲食宜忌要根據食物之性，結合身體素質、疾病性質、四時氣溫變化而靈活掌握，合理選擇,科學搭配。</p>
<h2>飲食物的五味學說</h2>
<p>五味，就是飲食物的辛、甘、酸、苦、鹹五種味，實際上還有淡味、澀味，習慣上把淡附於甘味,把澀附於鹹味。不同的味有不同的作用和功效。辛味能宣散,能行氣,通血脈,適宜有外感表症或風寒濕邪者服食。近代研究認為辛味可促進胃腸蠕動，增強消化液分泌,增強澱粉酶的活性，促進血液循環和新陳代謝,並有祛散風寒疏通經絡的功能。如外感風寒感冒者，宜吃具有辛辣味的生薑、紫蘇等食品以宣散外寒;對寒凝氣滯的胃痛、腹痛、痛經之人，宜吃辣椒、茴香、
    蓽撥、
    砂仁、桂皮等辛辣食品以行氣散寒止痛;風寒濕痺患者宜飲用辛辣藉以辛散風寒、溫通血脈。甘味有補益強壯作用,凡氣虛、血虛、陰虛、陽虛以及五臟虛羸者,適宜多吃味甘之品。甘味雖能補充氣血，又能消除肌肉緊張和解毒，但若過吃甜食易發胖，是很多心血管疾病如動脈硬化症的誘因,故這類患者及糖尿病人，又當忌吃甜物。酸味有收斂、固澀作用,適宜久瀉、久痢、久咳、久喘、多汗、虛汗、
    尿頻、遺精、滑精等遺泄患者食用。酸味還能增進食慾、健脾開胃 、增強肝臟功能，提高鈣、 磷吸收率。但過食酸物，又會導致消化功能紊亂。苦味能清泄，能燥濕,適宜熱證、
    濕證病人服食。例如,苦瓜味苦性寒,用苦瓜炒菜,佐餐食用，取其苦能清泄之力，達到清熱、明目、解毒、瀉火的效果,適宜熱病煩渴、中暑、目赤, 瘡瘍癤腫者服食。再如茶葉,苦甘而涼，也具有清泄的功效,適宜夏日飲用，有清利頭目 ,除煩止渴,
    消食化痰的好處。鹹味能軟堅，能散結，也能潤下，凡結核、痞塊、便秘者宜食之。具有鹹味的食物，多為海產品。有清熱、化痰、消積、潤腸的作用，對痰熱咳嗽、痰咳、痞積脹滿
    、小儿積滯、大便燥結者，食之最宜。海帶味鹹，有軟堅化痰作用，適宜癭瘤瘰癧、痰火結核者服食。清代名醫王孟英還說：治液乾難產，津枯血奪，火灼燥渴，乾嗽便秘,這都是鹹能潤下軟堅的效果。</p>
<p>中醫的五味學說還包含五味與五臟的密切關係。如《素問•宣明五氣篇》說：“五味所入，酸入肝,辛入肺,苦入心，鹹人腎,甘人脾。”《靈樞•五味論》還說：“五味入於口也,各有所走,各有所病。肝病禁辛，心病禁鹹,脾病禁酸，腎病禁甘,肺病禁苦。中國醫學理論認為,肺主氣，心主血脈,肝主筋,脾主肉,腎主骨，飲食五味用之適宜,對人體則有益,若因過分偏嗜則可發生疾病。或在五臟有病之時,也應適當調整飲食五味。《靈樞•五味論》中就說：“酸走筋，多食之令人癃；鹹走血，多食之令人渴;辛走氣，多食之令人洞心；苦走骨,多食之令人變嘔;甘走肉,多食之令人悗心。
    ”《素問•宣明五氣篇》也說：“辛走氣,氣病無多食辛;鹹走血，血病無多食鹹;苦走骨，骨病無多食 苦;甘走肉,肉病無多食甘；酸走筋，筋病無多食酸。
    “如不注意或不重視這些宜忌原則,強行多食,百病由生。正如《素問•五臟生成篇》中所說：“是故多食鹹,則脈凝泣而變色;多食苦則皮槁而毛拔;多食辛則筋急而爪枯;多食酸則肉胝皺而唇揭;多食甘則骨痛而髮落，此五味之所傷也。“由此可見,飲食物的五味,直接關係到人體的健康長壽。飲食物的五味宜忌，不僅要與食物的四氣,歸經相結合，還要考慮到季節變化、病情性質和身體素質,成為一種綜合性的五味宜忌理論。中國傳統醫學的食物五味理論，正是指導傳統飲食宜忌的重要依據。五味調和,臟腑得益，人體健康；五味偏嗜，或不遵宜忌,將導致五臟失調,形成疾病。
</p>
<h2>食物歸經理論</h2>
<p>中醫對飲食物的認識，要比近代醫學營養學對食物的認識不僅歷史悠久,而且要全面深刻得多。除了上述食物性味學說之外食物歸經理論也同樣表明了中醫對食物調理養生的認識更加深入而科學。慢性病患者可能體會到,當有肺虛咳喘之時，有經驗的老中醫往往建議病人經常吃些百合、山藥、白果、燕窩、銀耳等補品，而不會叫你去吃桂圓肉、栗子、芡實、蓮子、大棗等，這是因為前者食物皆入肺經，能養肺補肺潤肺，後者皆不入肺經，食之於肺無補;腎虛腰痛腰酸之人，老中醫多半勸食栗子、胡桃、芝麻、山藥、桑椹
    、枸杞子、杜仲等,也不會介紹去吃百合、龍眼肉、大棗、銀耳、人參等補品，這同樣是因為前者都能入腎經而補腎壯腰，後者皆不入腎經，非補腎之物，食之於腰酸腰痛無補。這就是中醫所說的食物歸經理論。</p>

<p>食物歸經，是指飲食物對於機體各部位的特殊作用。食物對人體所起的作用，有它一定的適應範圍。如寒性食物，雖同樣具有清熱的作用，但其適應範圍，或偏於清肝熱，或偏於清肺熱,各有所專。同為補物,也有補肺、補脾、補腎等不同。以清熱瀉火食物為例，一般都屬寒性或涼性食品，但有的偏於清肺熱，有的偏於清心火,有的偏於清肝熱。如梨子、香蕉、柿子、桑椹、芹菜、蓮心、獼猴桃等,均為寒涼食物，但梨子、杮子偏於清肺熱，香蕉偏於清大腸熱,桑椹偏於清肝虛之熱,芹菜偏於清肝火，蓮心偏於清心熱，獼猴桃偏於清腎虛膀胱熱。這都是由於歸經不同。同為補益食品,
    龍眼肉、柏子仁、小麥則入心補心，養心安神,心悸失眠者宜之。山藥、扁豆、糯米、粳米、大棗等入脾胃經,故能健脾養胃，脾虛便溏者宜之。食物同藥物一樣，有一藥歸兩經或三經,也有一食歸兩經或三經。如山藥能歸肺經、脾經和腎經，故凡肺虛
    、脾虛及腎虛之人均宜食之。桑椹歸肝經和腎經,肝腎陰虛者宜之。蓮子一物入心、脾 .腎三經，故心虛失眠多夢、脾虛久瀉帶下、腎虛遺精早洩者.均宜食之。</p>
<p>
    綜上所述，食物的四氣、五味、歸經等學說，是中國傳統飲食宜忌的重要理論依據。中醫認為飲食物的養生調理作用,絕非專指珍奇美味，也不只是講“營養素”有無多寡,而是根據病證、病位、病性和病人年齡性別、身體素質類型及四季天時
    、地理因素，結合食物的性味歸經的理論，來分析並選擇食物的宜與忌。這種豐富多彩、辨證科學的飲食宜忌觀，在近代營養學和西醫理論中是沒有的。
    【P8原著作頁數，提供對照參考使用】</p>

<h2>“發物”忌口論</h2>
<p>相傳，明太祖朱元璋為了謀害其手下大將徐達,就趁他患有“發背”之時,命太監送去一隻老肥鵝。徐達心裡明白，這是太祖要我的性命，但聖命難違，只好將鵝全部吃下，不久就病情惡化身亡了。
    “發背”是指發於背脊部的一種疔瘡，相當於現代醫學的急性蜂窩組織炎【P9】。從中醫的理論來說,此病多由濕熱火毒蘊積、氣血瘀滯而成。老鵝乃肥膩之品，易生痰濕。明•李時珍認為：“鵝,氣味俱厚,發風發瘡。”故徐達吃鵝後易使痰濕鬱而化熱動火，使火毒之邪更加旺盛，並四處擴散,以致形成“疔毒走黃”，病情惡化而死。此事暫且不去考證是否屬實,但在日常生活中,因服食“發物”而使病情加劇或使舊病復發者，的確屢見不鮮，這是事實。

<p>所謂“發物”，是指動風生痰, 發毒助火助邪之品,容易誘發舊病,加重新病。 “發物“的範圍較廣,有的甚至擴大化了。根據民間習俗和《隨息居飲食譜》等一些文獻資料歸納起來，常見的發物有豬頭肉、雞肉
    、雞蛋、驢肉、獐肉、牛肉、羊肉、狗肉、鵝肉、鵝蛋 、鴨蛋、野雞肉等肉類;有鯉魚、縫魚、鮮魚、鱭魚、 鮠魚、白魚、黃魚、烏賊魚、鯧魚、鰣魚、鱸魚、 鱘魚、鯇魚、章魚、比目魚、鰷魚、帶魚、鳙魚
    、黃鮮、蚌肉、蜆肉、蝦子、蟹等水產類;有香椿頭、芸薹、芫荽、芥菜、菠菜、豆芽、萵苣、茄子、茭白、韭菜、竹筍、南瓜 、慈姑 、香蕈 、蘑菇等蔬菜;有杏子、李子、桃子、銀杏、芒果、楊梅、櫻桃 、荔枝、
    甜瓜等瓜果;有蔥、椒、薑、蒜之類辛辣刺激性調味食品;還有菜油、糟、酒釀、白酒、豌豆、黃大豆、豆腐
    、豆腐乳、蠶蛹等;有時還將葷腥羶臊之類食品一概視為發物,特別是在患有瘡瘍腫毒，或慢性濕疹皮炎之類皮膚病人以及過敏性疾患者,發物忌口更顯得重要。</p>
<p>發物之所以會導致舊病復發或加重病情，有學者歸納起來認為有三種可能性：一是上述這些動物性食品中含有某些激素，會促使人體內的某些機能亢進或代謝紊亂。如糖皮質類固醇超過生理劑量時可以誘發感染擴散、潰瘍出血、癲癇發作等，引起舊病復發。二是某些食物所含的異性蛋白成為過敏原,引起變態反應性疾病復發。如海魚蝦蟹往往引起皮膚過敏者蕁麻疹、濕疹、神經性皮炎、膿皰瘡、牛皮癬等頑固性皮膚病的發作。豆腐乳有時也會引起哮喘病復發。三是一些刺激性較強的食物,如酒類、蔥蒜等辛辣刺激性食品對炎性感染病灶,極易引起炎症擴散、疔毒走黃。【P10】這就是中醫所說熱證實證忌吃辛辣刺激性發物的道理。
</p>

<h2>飲食宜忌的整體辨證觀</h2>
<p>中國傳統醫學最顯著的特點是整體觀念和辨證論治，在飲食宜忌方面,也應體現這兩大特點。所謂整體觀念，有兩層含義,第一層含義是指人是一個完整的有機體，其各個組織器官之間在結構上是緊密聯繫的，在功能活動上是密切協調的，在病理變化上，是相互影響的。絕不可只看局部，不看整體。比如，在生理上,肝開竅於目，瞳仁屬腎,肝腎同源，腎水能滋肝木。在功能上，肝藏血，腎藏精，目得血而能視。在病理上，肝腎不足，容易形成目暗雀盲。所以，雖然是夜盲雀目，視物昏花的眼睛局部病症，在飲食宜忌上則宜吃具有補益肝腎，養肝明目作用的桑椹、枸杞子、首烏粉、黑芝麻等食品，而忌吃辛辣香燥，助火傷陰的刺激性食物。第二層含義是,人與自然界同為一個整體，人體的內環境.時時處處受到外界自然環境變化的影響，這又叫做“天人相應”觀。具體地說，人受到春夏秋冬四季氣候、東南西北地理變化，以及生存條件狀況、飲食風俗習慣等因素的影響，這在飲食宜忌方面，同樣也要綜合考慮,因時因地制宜。比如，炎夏之季,適宜服食清涼、生津、止渴、除煩 、解暑的食物，忌吃溫熱上火、辛辣肥膩、香燥損陰食品。到了寒冷的冬季，又宜多吃溫補助陽之物，忌吃生冷大寒之品。北方天寒,宜吃溫暖,南方多火，宜吃清淡。這些就是飲食宜忌的整體觀。</p>
<p>所謂辨證論治，是指既要了解食物的性味歸經及功用，又要考慮到自己身體素質 、性別年齡、疾病屬性而有針對性地選擇飲食的宜忌。這就是因人因病,辨證擇食，這就叫飲食宜忌的辨證觀。舉例來說，凡屬陰虛體質者，宜吃具有滋陰生津作用的清補食物,忌吃香燥溫熱的上火溫補食品。而陽虛體質適宜吃溫熱補火的溫補食物【P11】，忌吃大寒生冷的損陽食品。健康女性在月經期間切忌服食寒性涼性食物和各種冷飲，男性陽痿之人又適宜吃些溫補壯陽之品。最常見的感冒患者，若屬風寒感冒，則適宜吃些辛溫散寒的生薑、紅糖、紫蘇等食物，屬風熱感冒時適宜吃些綠豆、薄荷、菊花腦、荷葉、金銀花等涼性食品。這本《中國傳統飲食宜忌全書》最大的特點,就是充分體現了中國醫學的整體觀念和辨證論治的思想，以中醫的基本理論來指導飲食宜忌。</p>
{% endblock %}