{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} 男女老少飲食宜忌 {% endblock %}</h1>
<p>男女老少飲食宜忌，是指由於生理上的差異和年齡上的區別,所以也各有不同的宜忌原則。即使是健壯的男子漢，也有其特別的難言之隱，諸如陽痿、遺精、滑精、早洩、精液異常症以及男子更年期綜合徵等。女性在生理上有月經期、妊娠期、產褥期、哺乳期以及更年期的特點,還能導致各生理期的特有病症,那就更應該注意各期的飲食宜忌。老年人由於生理上的衰老，各臟器的老化,必然產生一些老年病的困擾。人的衰老與老年性疾病，這和中國醫學所說的腎氣衰退(腎為先天之本)有著極為密切的關係。可以說,人的逐漸衰老過程，其實質就是人的腎氣逐漸減退的過程。所以,中老年人在飲食上適宜常吃些具有補腎作用的食物。嬰幼兒時期，臟腑嬌嫩，中醫認為小兒屬“稚陰稚陽”之體，其生理特點是“稚陽未充，稚陰未長”,除生長發育旺盛的特點之外，還具有不少兒童特有的病症，如麻疹、水痘、百日咳、疳積、疰夏等，在飲食上也有宜忌之分。
</p>
{% for stage in stages_list %}
<a href="{{ url_for('food.stages_details', stage_id=stage['id']) }}">
    <h2>{{ stage['name'] }}</h2>
</a>

{% endfor %}
{% endblock %}