{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} 春夏秋冬飲食宜忌 {% endblock %}</h1>
<p>中國古代醫學家在漫長的生活實驗中，逐步體會到人與自然界存在著非常密切的關係。自然界一年四季的變化，直接影響著人體的生理功能和病理變化，這就是“天人相應”的理論。尤其是古代的養生學家和道家，對一年四季的養生規律有著豐富而寶貴的經驗。認為在四時氣候變化中，春屬木，其氣溫;夏屬火，其氣熱;長夏屬土，其氣濕;秋屬金，其氣燥;冬屬水,其氣寒。根據春溫 、夏熱、長夏濕、秋燥、冬寒這一年中氣候變化的規律，總結出了春生、夏長、長夏化、秋收、冬藏的養生原則。如《素問 •四氣調神大論》云：“夫四時陰陽者，萬物之根本也。所以聖人春夏養陽，秋冬養陰，以從其根。逆之則災害生,從之則疴疾不起。”因為春夏之季,陽氣生長發洩，故當養護陽氣，以防耗散太過，陰隨陽洩。秋冬之季，收藏之令，陰精不宜外洩,故當養陰育陰，陰生則陽長，保持人體陰陽之氣的平衡協調。 《素問•六元正紀大論》還說：“用溫遠溫，用熱遠熱，用涼遠涼,用寒遠寒,食宜同法。 ”意為服食溫性熱性的食品藥物，應該避免在溫暖炎熱的春夏季節，食用涼性寒性的食物藥品，不宜在秋冬寒冷之季。這些都是要求人們根據春夏秋冬四季陰陽的消長、寒暑的變化來調節飲食，保養身體,適應自然,延年益壽。
    當然，在穀、果、菜各大類食物中，很多都是可供春夏秋冬四季服食的，如人們常年食用的粳米、麥麵，番薯、玉米、黃豆、花生、高粱、芝麻、赤豆 、扁豆等糧食，青菜,蘿蔔、胡蘿蔔、菠菜、芹菜、香菇、黑木耳、山藥、土豆、海帶 、紫菜等新鮮蔬菜，大棗、胡桃、蘋果、梨子、山楂、橘子等水果乾果，雞蛋、牛奶，酸奶等，一年四季均可服食。在分別介紹春、夏、秋、冬各季節的飲食宜忌時，有些就不一定重複細說了。另外，中國幅員遼闊,地跨亞熱帶、溫帶、亞寒帶，氣候類型複雜。長江以南地區,夏季炎熱,兩水充沛，氣候潮濕，冬季氣溫基本在零度以上。而海南、廣東、廣西、雲南等地處亞熱帶，四季不甚分明，基本上無秋季冬季，全年可明顯分為旱季和雨季。但在長江以北地區，一年內四季分明，溫差亦大,溫度和濕度對人體有很大影響。不僅如此,讀者亦當根據各自的年齡、體質、病情和生理特點的不同，
    因時因地因人而異，靈活掌握春夏秋冬四季的飲食宜忌。</p>
{% for season in seasons_list %}
<a href="{{ url_for('food.season_details', season_id=season['id']) }}">
    <h2>{{ season['name'] }}</h2>
</a>

{% endfor %}
{% endblock %}