{% extends 'base.html' %}

{% block content %}
<hr>
    <h1>{% block title %} {{ season['name'] }}{% endblock %}</h1>
    <p style="white-space-collapse: preserve;">{{ season['description']}}</p>
    <p class="h2 text-center">宜忌原則</p><br>
    <p style="white-space-collapse: preserve;">{{ season['principles'] }}</p>
    <p class="h2 text-center">宜食物品</p><br>
    <p style="white-space-collapse: preserve;">{{ season['suitable_foods'] }}</p>
    <p class="h2 text-center">忌食物品</p><br>
    <p style="white-space-collapse: preserve;">{{ season['nonsuitable_foods'] }}</p>
<hr>

{% endblock %}